{% load static %}


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/base.css' %}">

    <title> Marisol's Blog</title>



</head>

<body>


    <header>

        <h1><a href="{% url 'home' %}">Marisol's</a></h1>


        <h1><a href="{% url 'post_new' %}"> New Blog Post</a></h1>

    </header>

    {% if user.is_authenticated %}
    <p>Hi {{ user.username }} !</p>

    <p><a href=" {% url 'logout' %}">Log Out</a></p>
    {% else %}
    <p> You are not logged in </p>
    <p><a href="{% url 'login' %}">Log In</a></p>

    {% endif %}

    <div>
        {% block content %}
        {% endblock content %}

    </div>

</body>

</html>