header h1 a {
    color: red;
}

body {
    background-color: thistle;
    font-family: 'Dancing Script', cursive;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;

}

header h1 a {
    color: rgb(218, 18, 218);
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;

}

.post-entry {
    margin-bottom: 2rem;

}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    background-color: violet;
    color: rgb(21, 255, 0);
    margin-left: 35px;
    text-decoration: none;
}

.post-entry p {

    margin-left: 35px;
    font-weight: 400;
}

.post-entry h2 a :hover {
    color: purple;
}